body {
	font-size: 10px;
	background-color: #EEE

}


h1 {
	
	color:	#00CED1;
	margin-bottom: 30px;
	text-align: left;
	font-weight: solid
}

h2 {
	
	color:	#00CED1;
	margin-bottom: 30px;
	text-align: left;
	font-weight: solid
}

h3 {
	
	color:	#00CED1;
	margin-bottom: 30px;
	text-align: left;
	font-weight: solid
}

h4 {
	
	margin-bottom: 30px;
	color:	#00CED1;
	text-align: left;
	font-weight: solid

}